@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,700,900italic,900,700italic);
body {
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	.container-fluid {
		padding-top: 2em;
	}
}