.side-menu .bs-docs-sidebar {
  padding-left: 20px;
}

.side-menu .bs-docs-sidebar ul.nav.bs-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.side-menu .bs-docs-sidebar ul.nav.bs-docs-sidenav > li {
  position: relative;
  display: block;
}

.side-menu .bs-docs-sidebar ul.nav.bs-docs-sidenav > li > a {
  background: #fff;
  outline: 0;
  color: #767676;
  transition: all .5s ease;
}

.side-menu .bs-docs-sidebar ul.nav.bs-docs-sidenav > li > a:hover {
  padding-left: 19px;
  color: #365483;
  background-color: transparent;
  border-left: 1px solid #365483;
}
