block config
	include ../utilis/mixins
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.0.11/footable.bootstrap.min.css")
		link(rel="stylesheet" href="css/style.css")
	body
		.container-fluid
			.row
				.menu-search.col-xs-3(data-spy="affix")
					include ../includes/search-sidemenu
				main-content.col-xs-9.pull-right
					.row
						.col-md-6
							+panel-info('primary', 'Primary Title')
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quo iusto aliquam, maiores, impedit illum expedita fugiat autem quod assumenda magnam nobis minima beatae eaque vel, eos commodi quam cupiditate nesciunt sint provident vitae rem. Modi minus temporibus sapiente. Voluptates laboriosam repellendus itaque! Exercitationem libero recusandae cupiditate non fugit voluptas.
						.col-md-6
							+panel-warning('warning', 'Warning Title')
								+table-striped(["#","F Name","L Name","Username", "Entries", "Disasters", "Real State", "Poloticians"],
								[
									["1",				"Mark",			"Otto",				"@mdo",			"Entries", 		"Dissasters",		'Real State', 		'Politicians'],
									["2",				"Jacob",			"Thornton",			"@fat",			"Entries",		"Dissasters",		'Real State', 		'Politicians'],
									["3",				"Larry",			"the Bird",			"@twitter", 	"Entries",		"Dissasters", 		'Real State', 		'Politicians']
								])
						block main

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.0.11/footable.min.js")