.search-sidemenu.affix
	.search-account
		.form-group
			label Account
				.input-group
					input.form-control(type="text" placeholder="MB1425")
					.input-group-btn
						button.btn.btn-primary Search
	.side-menu
		nav.bs-docs-sidebar
			ul.nav.bs-docs-sidenav
				li: a(href="#") Information
				li: a(href="#") Activity
				li: a(href="#") Deposit
				li: a(href="#") Payout
				li: a(href="#") Fraud
				li: a(href="#") Promotions
				li: a(href="#") Loyalty
				li: a(href="#") Contest
				li: a(href="#") Contact
